*{
    text-align:center;
    text-justify:center;
}

.allofit{
    padding:10px;
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
}

.thestats{
    width:95%;
    height:10%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding:0 10px;
}

.expen,.inc,.save,.budg{
    width:22%;
    height:100%;
    border-radius:15px;
    background-color:#008080;
}

.expen{
    background-color:#5cbdb9;
}

.therest{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    width:100%;
    height:90%;
    padding:10px;
    justify-content: space-between;
}

.leftside{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width:47%;
    height:100%;
}

.topleft{
    display:flex;
    flex-direction: row;
    height:40%;
    margin:10px 0;
}

.pie{
    background-color:#96ded8;
    color:black;
    border-radius: 10px;
    margin:0;
    padding:10px;
    width:50%;
    height:95%;
}

.topright{
    display:flex;
    flex-direction: column;
    align-items: space-evenly;
    width:50%;
    height:100%;
    margin:auto 10px;
    padding:0;
}

.infor{
    border-radius: 10px;
    width:90%;
    height:47%;
    margin:10px auto;
}

.bottomleft{
    background-color: #5cbdb9;
    border-radius: 10px;
    width:100%;
    height:55%;
    margin:10px 0;
}

.rightside{
    display: block;
    background-color:#008080;
    border-radius: 10px;
    color:white;
    width:47%;
    height:100%;
    margin:10px;
    padding:5px;
}

.rightside>p{
    height:10%;
}

.recharts-wrapper{
    background-color:white;
    border-radius:10px;
}

.stats{
    display:flex;
    flex-wrap: wrap;
    height: 85%;
    width:95%;
    margin:auto;
    justify-content: center;
}

.stat,.achieve{
    background-color: #96ded8;
    border-radius: 10px;
    height:50%;
    width:45%;
    margin:5px;
}

.barchart{
    height:60vh;
    width:90%;
    margin: 15px auto;
}