*{
  box-sizing: border-box;
}

#root{
    padding:0;
    margin:0;
}
body{
    background-color: white;
    height:100vh;
    width:100vw;
    color:darkslategray;
	margin: 0;
    padding:10px;
	overflow-x: hidden;
}

nav{
    height:100%;
    width:15%;
}

.navbar{
    background-color: #5cbdb9;
    color:darkslategray;
    height:100%;
    width:100%;
    padding:10px;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    align-content: center;
}

.link{
    text-decoration: none;
    color:darkslategray;
}

.home{
    height:8%;
    width:90%;
    background-color: #018a84;
    border-radius:10px;
    margin: 0 auto 20px auto;
    display: flex;
    padding:5px;
    justify-content: space-around;
    align-content: center;
}

.home>img{
    height:80%;
    width:30%;
    border-radius:50%;
    align-self: center;
}

.home>.link{
    align-content: center;
}
.things{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.thing{
    margin-left:0;
    margin-top: 4px;
    margin-bottom:4px;
}
.settings{
    height:5%;
    width:90%;
    border-radius:10px;
    margin:150% auto 0 auto;
    display: flex;
    padding:5px;
    justify-content: space-around;
}

.settings.img{
    height:90%;
    width:30%;
}

.the-main-part{
    margin:auto;
    padding:0;
    height: 100%;
    width: 80%;
    overflow: auto;
    box-sizing:border-box;
}

.everything{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding:20px; 
    box-sizing: border-box;
    margin:0;
}

.header{
    display:flex;
    justify-content: space-between;
    padding:10px;
    align-content: center;
    width:90%;
    height:10%;
}