.settings-container {
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.settings-container.dark {
  background-color: #121212;
  color: #f0f0f0;
}

/* Title */
.settings-title {
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
}

/* Card */
.settings-card {
  background-color: #fff;
  width: 90%;
  max-width: 1200px;
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: background-color 0.3s;
}

.settings-container.dark .settings-card {
  background-color: #1e1e1e;
}

/* Card header */
.settings-card h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

/* Form */
.settings-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.settings-form label {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
}

.settings-form input {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-top: 5px;
  font-size: 0.9rem;
  outline: none;
  transition: border-color 0.2s;
}

.settings-container.dark .settings-form input {
  background-color: #2a2a2a;
  color: #f0f0f0;
  border: 1px solid #555;
}

.settings-form input:focus {
  border-color: #2196f3;
}

/* Buttons */
.settings-button {
  margin-top: 8px;
  padding: 10px 15px;
  background-color:#3b9491;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.settings-button:hover {
  background-color:  #5cbdb9 ;
  transform: translateY(-2px);
}

/* Dark mode toggle */
.toggle-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1rem;
}

.toggle-label input {
  display: none;
}

.toggle-label .slider {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 24px;
  cursor: pointer;
}

.toggle-label .slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-label input:checked + .slider {
  background-color: #2196f3;
}

.toggle-label input:checked + .slider::before {
  transform: translateX(26px);
}